<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <ul class="economicCharts">
        <li ng-repeat="series in seriesList" class="thumbnail">
          <a ng-click="scrollTo($index)">{{series}}</a>
        </li>
      </ul>


    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="economicCharts">
        <li ng-repeat="series in seriesList" class="thumbnail">
          <nvsimple-line id="{{$index}}" data="economicSeries[series]" info="{{series}}" width="600" height="300"></nvsimple-line>
        </li>
      </ul>

    </div>
  </div>
  

</div>
